.cardsContainer {
  border: 5px solid black;
  font-size: large;
  height: 100%;
  padding: auto;
  width: 100%;
}

.cards {
  background: none;
  width: fit-content;
  height: fit-content;
  margin: 10px;
}

.cardsRow {
  justify-content: space-evenly;
  padding: 40px;
}

.card-display {
  border: 5px black solid;
  box-shadow: 10px 5px 10px black;
  height: 45rem;
  text-align: center;
  width: 20rem;
}

.bugs-fish-img {
  background-color: #83d2fd;
}

.bug-body {
  background-color: lightyellow;
  border-top: 5px black solid;
}

.fish-body {
  border-top: 5px solid black;
  background-color: #fddea1;
}

.month {
  color: black;
  background-color: #83d2fd;
  border: 3px black solid;
  height: 25rem;
  margin: 5px auto;
  padding: 1%;
  text-align: center;
  width: 20rem;
}
.flower-card-display {
  border: 5px black solid;
  box-shadow: 10px 5px 10px black;
  height: 50rem;
  text-align: center;
  width: 20rem;
}

.flower-img {
  background-color: #7fd4aa;
}

.flower-body {
  border-top: 5px black solid;
  background-color: #c0975e;
}

.flower-price {
  background-color: #f0e97e;
  border-radius: 90%;
  margin-top: 5px;
}

.genus {
  background-color: rgb(192, 151, 94);
  border: 3px black solid;
  height: 10rem;
  margin: 5px auto;
  color: black;
  padding: 1%;
  text-align: center;
  width: 20rem;
}

.all {
  color: black;
  background-color: #83d2fd;
  border: 3px black solid;
  height: 10rem;
  margin: 5px auto;
  padding: 1%;
  text-align: center;
  width: 25rem;
}
