.footer {
  border: 5px solid black;
  background-color: rgba(41, 36, 36, 0.397);
  color: white;
  height: 100%;
  justify-content: center;
  width: 100%;
}

.footer-header {
  padding: 20px;
  text-align: center;
}

.footer-a {
  background-image: url(../../Photos/leaf.png);
  background-size: 100% 100%;
  color: black;
  display: inline-block;

  margin: 10px;

  height: 100px;
  width: 100px;
}
